#header .header-wrapper {
	width: 960px; margin-left: auto; margin-right: auto;
	height: 120px; overflow: hidden; 
}

#header .header-wrapper .logo {
	float: left; width: 270px; height: 60px; margin-top: 30px; 
	background: url(../../img/fordrive_logo.jpg) no-repeat;
}

#header .menu {
	float: left; width: 450px; height: 90px; 
	margin-top: 15px; 
}

#header .menu .column {
	float: left; width: 150px; height: 90px;
}

#header .menu .item {
	width: 150px; height: 30px; line-height: 30px;
	text-align: left; 
}

#header .menu .item .name {
	color: white; font-weight: bold; font-size: 14px; 
	letter-spacing: -1px; margin-left: 65px;
}

#header .menu .item .selected {
	text-decoration: underline;
}

#header .menu .add-item {
	width: 150px; height: 30px; line-height: 30px;
	text-align: left; 
}

#header .menu .add-item .name {
	color: white; font-weight: bold; font-size: 14px; 
	letter-spacing: -1px; margin-left: 65px;
}

#header .menu .add-item .name:hover {
	cursor: pointer;
}

#header-add-list {
	position: absolute; left: 50%; margin-left: -45px; top: 50px; 
	z-index: 500; width: 140px; height: 200px;
	border: 1px rgb(210,210,210) solid;
	box-shadow: 0 4px 15px rgba(0,0,0,0.25); 
	-moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	background: rgb(222,222,222); display: none;
}

#header-add-list .item {
	width: 140px; height: 50px;
}

#header-add-list .item .spacer {
	float: left; width: 25px; height: 40px; 
	margin-top: 5px;
}

#header-add-list .item .legend {
	float: left; width: 105px; height: 40px; text-align: left; 
	margin-top: 5px;
}

#header-add-list .item .heading {
	width: 105px; height: 24px; font-size: 24px; 
	font-weight: bold; color: black; letter-spacing: -2px;
}

#header-add-list .item .subheading {
	width: 105px; height: 16px; font-size: 14px; 
	letter-spacing: -1px; font-weight: bold; 
	color: rgb(81,81,181); 
}

#header-add-list .highlight {
	background: rgb(235,235,235);
}

#header-add-list a:hover {
	text-decoration: none; 
}

#header .header-wrapper .actions {
	float: left; width: 240px; height: 120px; 
	line-height: 120px;
}

#header .header-wrapper .actions .logout {
	font-size: 14px; color: white; 
	font-weight: bold; letter-spacing: -1px;
}

#header .header-wrapper .actions .logout:hover {
	text-decoration: underline; cursor: pointer;
}