html,body {
	font-family: Arial;
}

body {
	background: rgb(235,235,235); 
}

img {
	box-shadow: 0 4px 10px rgb(110,110,110);
	-moz-box-shadow: 0 4px 10px rgb(110,110,110);
	-webkit-box-shadow: 0 4px 10px rgb(110,110,110);
}

A:link, A:visited {
	text-decoration: none; 
}

A:hover {
	text-decoration: underline; cursor: pointer;
}

A:active {
	text-decoration: none; 
}

#body-wrapper {
	width: 100%; height: 100%; text-align: center;
}

#overlay {
	position: absolute; width: 100%; height: 0px; top: 0px; left: 0px;
	z-index: 1500; display: none;
}

.overlay-light-background {
	background: url(../../img/overlay_bg.png);
}

.overlay-transparent-background {
	background: url(../../img/transparent_overlay_bg.png);
}

#header {
	width: 100%; height: 120px; background: rgb(84,84,184); 
}

#content {
	width: 960px; margin-left: auto; margin-right: auto; overflow: auto;
	min-height: 300px;
}

/****************************************************************************************/
/*                                 Footer                                               */
/****************************************************************************************/
#footer {
	width: 960px; height: 40px; margin-left: auto; margin-right: auto; overflow: auto;
	margin-top: 20px; border-top: 1px rgb(210,210,210) solid;
}

#footer .left {
	float: left; width: 750px; height: 40px;
}

#footer .left .item {
	float: left; width: 90px; height: 40px; line-height: 40px;
	font-size: 14px; font-weight: bold; letter-spacing: -1px;
}

#footer .left .item A {
	color: black;
}

#footer .left .item .link:hover {
	color: rgb(81,81,181); cursor: pointer; text-decoration: none;
}

#footer .left .item:first-letter {
	color: rgb(81,81,181);
}

#footer .right {
	float: left; width: 210px; height: 40px; line-height: 40px; font-size: 12px;
	color: rgb(90,90,90);
}

/* Modal loading */
#overlay-loading {
	width: 250px; height: 90px; position: absolute; z-index: 1000;
	left: 50%; margin-left: 170px; top: 0px; background: rgb(240,240,240);
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	border: 1px rgb(210,210,210) solid;
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	display: none;
}

#overlay-loading .wrapper {
	width: 220px; height: 60px; margin: 15px;
}

#overlay-loading .message {
	width: 160px; height: 60px; float: left; 
}

#overlay-loading .heading {
	font-size: 18px; font-weight: bold; letter-spacing: -1px; text-align: left;
}

#overlay-loading .subheading {
	font-size: 12px; color: rgb(130,130,130); text-align: left;
}

#overlay-loading .icon {
	width: 58px; height: 58px; float: left; 
}

#overlay-loading .loading-bg {
	background: url(../../img/loading_middle.gif);
}

#overlay-loading .confirmation-bg {
	background: url(../../img/ok.png);
}

/* Debugger */
#debugger {
	position: absolute; left: 50%; top: 50%; margin-left: -300px; margin-top: -200px;
	width: 600px; height: 400px; z-index: 10000; background: rgb(230,230,230);
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
   -webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
	display: none;
}

#debugger .header {
	position: relative; width: 600px; height: 60px; line-height: 60px; text-align: left;
	border-bottom: 1px rgb(210,210,210) solid; 
}

#debugger h2 {
	font-size: 30px; font-weight: bold; padding-left: 30px;
	letter-spacing: -2px;
}

#debugger .close {
	position: absolute; top: 15px; left: 540px; width: 30px; height: 30px;
	background: url(../../img/debug_close.png) no-repeat;
}

#debugger .close:hover {
	cursor: pointer; background: url(../../img/debug_close_over.png) no-repeat;
}

#debugger-content {
	width: 600px; height: 340px; overflow-y: scroll;
}

#debugger .row {
	width: 580px; border-bottom: 1px rgb(220,220,220) solid;
}

#debugger .row .content {
	padding-left: 35px; padding-right: 35px; padding-top: 10px; padding-bottom: 10px;
	text-align: left; font-size: 12px;
}

/* Photo gallery */
#gallery {
	position: absolute; width: 800px; height: 520px; 
	left: 50%; margin-left: -400px; z-index: 3000; display: none;
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
}

#gallery a {
	text-decoration: none;
}

#gallery .gallery-wrapper {
	position: relative; width: 800px; height: 520px; 
}

#gallery .visible-image-bg {
	position: absolute; top: 0px; left: 0px; width: 800px; height: 440px;
	background: url(../../img/item_bg_dark.png); z-index: 3000; 
}

#gallery .image {
	position: relative; z-index: 3100; width: 800px; height: 520px; 
}

#gallery img {
	width: 800px; height: 520px; 
}

#gallery .previous {
	position: absolute; left: 0px; top: 0px; width: 100px; height: 440px;
	background: url(../../img/gallery_filler.png) no-repeat; z-index: 3200;
}

#gallery .show-previous {
	cursor: pointer; background: url(../../img/gallery_left_arrow.png) no-repeat;
	z-index: 3100;
}

#gallery .next {
	position: absolute; left: 700px; top: 0px; width: 100px; height: 440px; 
	background: url(../../img/gallery_filler.png) no-repeat; z-index: 3200;
}

#gallery .show-next {
	cursor: pointer; background: url(../../img/gallery_right_arrow.png) no-repeat;
	z-index: 3100;
}

#gallery .close {
	position: absolute; width: 115px; height:35px; left: 685px; top: 0px;
	background: url(../../img/close_gallery.jpg) no-repeat; z-index: 3200;
}

#gallery .close:hover {
	cursor: pointer; background: url(../../img/close_gallery_over.jpg) no-repeat;
	z-index: 3200;
}

#gallery .panel {
	position: absolute; width: 800px; height: 80px; left: 0px; top: 440px;
	background: url(../../img/item_bg_dark.png); z-index: 3200;
}

#gallery .panel .current {
	float: left; width: 75px; height: 80px; line-height: 80px; color: white; 
	text-align: right; 
}

#gallery .panel .current .count {
	font-size: 28px; font-weight: bold; letter-spacing: -3px;
}

#gallery .panel .current .of {
	font-size: 26px; 
}

#gallery .panel .total {
	float: left; width: 80px; height: 80px; line-height: 80px;
	color: white; font-weight: bold; font-size: 28px;
	background: url(../../img/gallery_total_bg.png) no-repeat; 
	letter-spacing: -3px;
}

#gallery .panel .description {
	float: left; width: 400px; height: 70px; margin-top: 5px;
}

#gallery .panel .description .heading {
	width: 400px; height: 38px; padding-left: 10px; text-align: left;
	font-weight: bold; font-size: 34px; letter-spacing: -3px; color: white; 
}

#gallery .panel .description .subheading {
	width: 400px; height: 32px; padding-left: 10px; text-align: left; overflow: hidden;
	font-size: 12px; color: rgb(81,81,181); font-weight: bold; letter-spacing: -1px; 
}

#gallery .panel .resolutions {
	float: left; width: 245px; height: 80px;
}

#gallery .panel .resolutions .sizes {
	float: left; width: 60px; height: 50px; margin-top: 12px;
	font-size: 24px; font-weight: bold; letter-spacing: -2px; 
}

#gallery .panel .resolutions .width {
	width: 60px; height: 25px; color: white;
}

#gallery .panel .resolutions .height {
	width: 60px; height: 25px; color: rgb(81,81,181);
}

/* Default errors */
#default-errors {
	position: absolute; left: 50%; top: 0px; width: 550px; height: 350px;
	margin-left: -275px; z-index: 15000;
	background: rgb(81,81,181);
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	border-radius: 10px; -moz-border-radius: 10px; 
	-webkit-border-radius: 10px; display: none;
}

#default-errors .errors {
	width: 550px; height: 270px;
}

#default-errors .heading {
	float: left; position: relative; width: 180px; height: 270px;
	background: url(../../img/errors_icon.png) no-repeat; 
}

#default-errors .heading .legend {
	position: absolute; left: 0px; top: 160px; 
	width: 180px; height: 40px; font-size: 36px; font-weight: bold;
	letter-spacing: -2px; color: white;
}

#default-errors .message {
	float: left; width: 370px; height: 270px; overflow-y: scroll;
}

#default-errors .message .wrapper {
	width: 330px; margin-left: 10px; margin-top: 40px; text-align: left;
	color: white; font-size: 18px; font-weight: bold; letter-spacing: -1px;
}

#default-errors .close {
	width: 550px; height: 80px; line-height: 80px; 
	font-size: 34px; font-weight: bold; letter-spacing: -3px;
	background: rgb(222,222,222); color: rgb(81,81,181);
	-moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
}

#default-errors .close:hover {
	background: rgb(235,235,235); cursor: pointer;
}

/******************************************************************/
/*                        Modal errors                            */
/******************************************************************/
#modal-errors {
	position: absolute; left: 0px; width: 100%; height: 100px; 
	background: rgb(81,81,181); text-align: center; z-index: 7000; 
	color: white; display: none;
}

#modal-errors .wrapper {
	width: 960px; height: 100px; margin-left: auto; margin-right: auto;
}

#modal-errors .icon {
	float: left; width: 70px; height: 100px;
	background: url(../../../img/modal_errors.png) no-repeat;
}

#modal-errors .legend {
	float: left; width: 160px; height: 100px; text-align: left;
	line-height: 100px; font-size: 40px; font-weight: bold; 
	letter-spacing: -2px; 
}

#modal-errors .errors {
	float: left; width: 365px; height: 100px;
}

#modal-errors .errors .first-list,
#modal-errors .errors .second-list {
	text-align: left; margin: 5px; font-size: 16px; font-weight: bold;
	line-height: 22px; letter-spacing: -1px;
}

/******************************************************************/
/*                     Confirmation prompt                        */
/******************************************************************/
#confirmation-prompt {
	position: absolute; left: 50%; top: 0px; width: 450px; height: 280px;
	margin-left: -225px; z-index: 15000;
	background: rgb(81,81,181);
	box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 4px 15px rgba(0,0,0,0.25);
	border-radius: 10px; -moz-border-radius: 10px;
	-webkit-border-radius: 10px; display: none;
}

#confirmation-prompt .top {
	width: 450px; height: 210px;
}

#confirmation-prompt .top .prompt-icon {
	float: left; width: 180px; height: 210px;
	background: url(../../img/admin/warning_icon.png) no-repeat;
}

#confirmation-prompt .top .message {
	float: left; width: 270px; height: 210px;
}

#confirmation-prompt .top .message .wrapper {
	width: 250px; margin-top: 55px; text-align: left;
	color: white; font-size: 20px; font-weight: bold; letter-spacing: -1px;
}

#confirmation-prompt .bottom {
	width: 450px; height: 70px;
	-moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;
}

#confirmation-prompt .bottom .item {
	float: left; width: 225px; height: 70px; line-height: 70px;
	font-size: 30px; font-weight: bold; letter-spacing: -2px;
}

#confirmation-prompt .bottom .process {
	-moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px; background: rgb(222,222,222); color: rgb(81,81,181);
}

#confirmation-prompt .bottom .cancel {
	-moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px; background: rgb(235,235,235); color: rgb(120,120,120);;
}

#confirmation-prompt .bottom .process:hover,
#confirmation-prompt .bottom .cancel:hover {
	background: rgb(250,250,250); cursor: pointer;
}