#activity {
	width: 960px;
}

/******************************************************************/
/*                           Heading                              */
/******************************************************************/
#activity .heading {
	width: 960px; height: 70px; padding-top: 1px;
}

#activity .heading .wrapper {
	width: 930px; height: 60px; margin-top: 5px;
	margin-left: 15px;
}

#activity .heading .legend {
	float: left; width: 660px; height: 60px; text-align: left;
	border-left: 10px rgb(81,81,181) solid;
}

#activity .heading .legend .label {
	width: 650px; height: 36px; line-height: 36px; padding-left: 10px;
	font-size: 34px; font-weight: bold; letter-spacing: -2px;
	margin-top: 2px;
}

#activity .heading .legend .sublabel {
	width: 650px; height: 18px; line-height: 18px;
	padding-left: 10px; font-size: 18px;
	color: rgb(110,110,110);
}

/******************************************************************/
/*                          Controls                              */
/******************************************************************/
#activity .controls {
	width: 960px; height: 60px;
}

#activity .pagination {
	position: relative; float: left; width: 300px; height: 60px;
}

#activity .pagination .wrapper {
	position: absolute; width: 280px; height: 30px; top: 50%; margin-top: -15px;
	left: 20px;
}

#activity .pagination .page {
	float: left; margin-left: 5px; width: 30px; height: 30px;
	border: 1px rgb(210,210,210) solid;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	line-height: 30px; text-align: center;
}

#activity .pagination .selected {
	background: rgb(81,81,181); color: rgb(255,255,255);
}

#activity .pagination .active {
	background: rgb(240,240,240); color: black;
}

#activity .pagination .active:hover {
	background: rgb(81,81,181); color: rgb(255,255,255);
}

#activity .pagination .number {
	font-size: 16px; font-weight: bold;
	letter-spacing: -2px; padding-right: 1px;
}

#activity .select-list {
	float: left; width: 660px; height: 60px;
}

#activity .select-list .heading {
	float: left; width: 100px; height: 60px; line-height: 60px; text-align: right;
	font-size: 18px; font-weight: bold; letter-spacing: -1px;
}

#activity .select-list .wrapper {
	float: left; width: 130px; height: 60px;
}

#activity .select-list .item {
	width: 120px; height: 25px; line-height: 25px; color: black;
	margin-left: 5px; margin-top: 18px; border: 1px rgb(210,210,210) solid;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-size: 16px; font-weight: bold; letter-spacing: -1px;
}

#activity .select-list .item:hover,
#activity .select-list .selected {
	background: rgb(81,81,181); color: white;
}

#activity a {
	text-decoration: none;
}

/******************************************************************/
/*                           Content                              */
/******************************************************************/
#activity .content {
	width: 960px;
}

#activity .row-highlight {
	background: rgb(222,222,222);
}

#activity .post {
	width: 960px;
}

#activity .post .item-separator {
	width: 960px; height: 13px; clear: both;
}

#activity .post .item-wrapper {
	width: 960px; clear: both;
}

#activity .post .left {
	float: left; width: 255px; height: 95px;
}

#activity .post .left .module-photo {
	float: left; position: relative;
	width: 145px; height: 95px; margin-left: 15px;
}

#activity .post .left .module-photo .photo-label {
	position: absolute; left: 0px; top: 70px;
	width: 145px; height: 25px; line-height: 25px;
	background: rgb(81,81,181); text-align: left;
	color: white; font-size: 18px; font-weight: bold;
	letter-spacing: -1px;
}

#activity .post .left .module-photo .photo-label span {
	margin-left: 15px;
}

#activity .post .left .avatar {
	float: left; width: 95px; height: 95px;
}

#activity .post .left .no-avatar {
	float: left; width: 95px; height: 95px;
	background: url(../../img/noavatar_fordrive_95_95_with_limits.jpg) no-repeat;
}

#activity .post .right {
	float: left; width: 705px;
}

#activity .post .right .wrapper {
	width: 690px; margin-left: 15px;
	text-align: left;
}

#activity .post .right .header {
	width: 680px;
}

#activity .post .right .header a {
	color: black; font-size: 34px; font-weight: bold;
	letter-spacing: -2px;
}

#activity .post .right .header a:hover {
	color: rgb(81,81,181);
}

#activity .post .right .subheader {
	width: 680px; line-height: 28px;
}

#activity .post .right .subheader a {
	color: black; font-size: 20px; font-weight: bold;
	letter-spacing: -1px; color: rgb(81,81,181);
}

#activity .post .right .comment {
	width: 650px; font-size: 18px; padding-bottom: 2px;
}

#activity .post .right .footer {
	width: 690px; height: 25px; line-height: 25px;
	font-size: 16px; font-weight: bold; letter-spacing: -1px;
}

#activity .post .right .footer .highlight {
	color: rgb(81,81,181);
}

/******************************************************************/
/*                            No uploads                          */
/******************************************************************/
#activity .no-posts {
	width: 960px; height: 500px; padding-top: 1px;
}

#activity .no-posts .message {
	width: 820px; height: 100px; margin-top: 170px;
	margin-left: 70px; background: rgb(222,222,222);
}

#activity .no-posts .icon {
	float: left; width: 120px; height: 100px; margin-left: 250px;
	background: url(../../img/no_activities.png);
}

#activity .no-posts .label {
	float: left; width: 450px; height: 100px; line-height: 100px;
	font-size: 18px; font-weight: bold; letter-spacing: -1px;
	text-align: left;
}