#favorites {
    width: 960px;
}

/******************************************************************/
/*                           Heading                              */
/******************************************************************/
#favorites .heading {
    width: 960px; height: 70px; padding-top: 1px;
}

#favorites .heading .wrapper {
    width: 930px; height: 60px; margin-top: 5px;
    margin-left: 15px;
}

#favorites .heading .legend {
    float: left; width: 660px; height: 60px; text-align: left;
    border-left: 10px rgb(81,81,181) solid;
}

#favorites .heading .legend .label {
    width: 650px; height: 36px; line-height: 36px; padding-left: 10px;
    font-size: 34px; font-weight: bold; letter-spacing: -2px;
    margin-top: 2px;
}

#favorites .heading .legend .sublabel {
    width: 650px; height: 18px; line-height: 18px;
    padding-left: 10px; font-size: 18px;
    color: rgb(110,110,110);
}

/******************************************************************/
/*                          Controls                              */
/******************************************************************/
#favorites .controls {
    width: 960px; height: 60px;
}

#favorites .pagination {
    position: relative; float: left; width: 300px; height: 60px;
}

#favorites .pagination .wrapper {
    position: absolute; width: 280px; height: 30px; top: 50%; margin-top: -15px;
    left: 20px;
}

#favorites .pagination .page {
    float: left; margin-left: 5px; width: 30px; height: 30px;
    border: 1px rgb(210,210,210) solid;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    line-height: 30px; text-align: center;
}

#favorites .pagination .selected {
    background: rgb(81,81,181); color: rgb(255,255,255);
}

#favorites .pagination .active {
    background: rgb(240,240,240); color: black;
}

#favorites .pagination .active:hover {
    background: rgb(81,81,181); color: rgb(255,255,255);
}

#favorites .pagination .number {
    font-size: 16px; font-weight: bold;
    letter-spacing: -2px; padding-right: 1px;
}

#favorites .module-select {
    float: left; width: 660px; height: 60px;
}

#favorites .module-select .heading {
    float: left; width: 100px; height: 60px; line-height: 60px; text-align: right;
    font-size: 18px; font-weight: bold; letter-spacing: -1px;
}

#favorites .module-select .wrapper {
    float: left; width: 130px; height: 60px;
}

#favorites .module-select .item {
    width: 120px; height: 25px; line-height: 25px; color: black;
    margin-left: 5px; margin-top: 18px; border: 1px rgb(210,210,210) solid;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

#favorites .module-select .item:hover,
#favorites .module-select .selected {
    background: rgb(81,81,181); color: white;
}

#favorites .module-select .item .label {
    float: left; width: 80px; height: 25px; line-height: 25px;
    margin-left: 10px;
    font-size: 16px; font-weight: bold; letter-spacing: -1px;
    text-align: left;
}

#favorites .module-select .item .count {
    float: left; width: 30px; height: 25px; text-align: center;
    background: rgb(81,81,181); color: white; font-size: 16px;
    font-weight: bold; letter-spacing: -2px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#favorites a {
    text-decoration: none;
}

/****************************************************************************************/
/*                                       Content                                        */
/****************************************************************************************/
#favorites .content {
    width: 960px;
}

#favorites .items {
    float: left; width: 840px;
}

/****************************************************************************************/
/*                                 Content - Items                                      */
/****************************************************************************************/
#favorites .items .item {
    float: left; width: 280px; height: 190px;
}

#favorites .items .item a {
    text-decoration: none;
}

#favorites .items .item .item-wrapper {
    position: relative; width: 270px; height: 180px;
    margin-left: 5px; margin-top: 5px;
}

/******************************************************************/
/*                            Top panel                           */
/******************************************************************/
#favorites .items .item .top-panel {
    position: absolute; left: 0px; top: 0px;
    width: 270px; height: 50px;
    background: url(../../img/item_bg_light.png);
}

#favorites .items .item .top-panel .likes {
    float: left; color: white;
    width: 50px; height: 50px; background: rgb(81,81,181);
}

#favorites .items .item .top-panel .likes .count {
    width: 50px; height: 24px; margin-top: 2px; font-size: 24px;
    font-weight: bold; letter-spacing: -2px;
}

#favorites .items .item .top-panel .likes .label {
    width: 50px; height: 16px; font-size: 16px;
    font-weight: bold; letter-spacing: -1px;
}

#favorites .items .item .top-panel .item {
    position: absolute; left: 210px; width: 55px; height: 50px;
}

#favorites .items .item .top-panel .item:hover {
    background: rgb(81,81,181); cursor: pointer;
}

#favorites .items .item .top-panel .unfavorite-icon {
    width: 55px; height: 50px;
    background: url(../../img/panel_unfavorite.png);
}

/******************************************************************/
/*                           Center panel                         */
/******************************************************************/
#favorites .items .item .link-filler {
    position: absolute; top: 50px; left: 0px;
    width: 270px; height: 80px;
    background: url(../../img/transparent_overlay_bg.png);
}

#favorites .items .item .middle-panel {
    position: absolute; top: 50px; left: 0px;
    width: 270px; height: 80px;
    background: url(../../img/item_bg_light.png);
}

#favorites .items .item .middle-panel .item-locked-bg {
    float: left; width: 80px; height: 80px;
    background: url(../../img/item_blocked.png);
}

#favorites .items .item .middle-panel .message {
    float: left; width: 190px; height: 80px;
    color: white; text-align: left; font-weight: bold;
}

#favorites .items .item .middle-panel .message .label {
    width: 190px; height: 24px; line-height: 24px;
    font-size: 20px; letter-spacing: -1px; margin-top: 10px;
}

#favorites .items .item .middle-panel .message .sublabel {
    width: 190px; height: 46px; font-size: 12px;
}

/******************************************************************/
/*                           Bottom panel                         */
/******************************************************************/
#favorites .items .item .bottom-panel {
    position: absolute; top: 130px; left: 0px;
    width: 270px; height: 50px;
    background: url(../../img/item_bg_light.png);
}

#favorites .items .item .bottom-panel-selected {
    background: rgb(81,81,181);
}

#favorites .items .item .bottom-panel .heading {
    float: left; width: 195px; height: 50px;
}

#favorites .items .item .bottom-panel .heading .wrapper {
    margin-left: 10px; margin-top: 9px; overflow: hidden;
    width: 185px; height: 32px; text-align: left; line-height: 16px;
}

#favorites .items .item .bottom-panel .heading h3 {
    color: white; font-weight: bold; font-size: 14px;
    letter-spacing: -1px;
}

#favorites .items .item .bottom-panel .comments {
    float: left; width: 75px; height: 50px;
    color: white; font-weight: bold;
}

#favorites .items .item .bottom-panel .comments .count {
    width: 75px; height: 24px; line-height: 24px;
    margin-top: 6px; font-size: 24px; letter-spacing: -1px;
}

#favorites .items .item .bottom-panel .comments .label {
    width: 75px; height: 14px; line-height: 14px;
    font-size: 14px; font-weight: bold; letter-spacing: -1px;
}

/******************************************************************/
/*                            No uploads                          */
/******************************************************************/
#favorites .items .no-uploads {
    width: 840px; height: 500px; padding-top: 1px;
}

#favorites .items .no-uploads .message {
    width: 820px; height: 100px; margin-top: 200px;
    background: rgb(222,222,222);
}

#favorites .items .no-uploads .icon {
    float: left; width: 120px; height: 100px; margin-left: 170px;
    background: url(../../img/no_favorite_items.png);
}

#favorites .items .no-uploads .label {
    float: left; width: 530px; height: 100px; line-height: 100px;
    font-size: 18px; font-weight: bold; letter-spacing: -1px;
    text-align: left;
}